/*#tabla{
      float: left;
      padding: 10px;
      margin: 40px;
}

#tabla1{
      float: right;
      padding: 30px;
      margin: 100px;
}

#tabla2{
      float: left;
      padding: 10px;
      margin: 40px;
}

#tabla3{
      float: right;
      padding: 10px;
      margin: 40px;
}

#tabla4{
      float: right;
      padding: 10px;
      margin:50px;
}*/

