
.banner{
	background-size: 100% 100%;
	background-image: url(imgequipo/bani.png);
	width: 100%;
	height: 90px;
	padding: 5%;
}
*{
	padding: 0;
	margin: 0;
}

header{
	width: 100%;
	background: #f2f2f2;
	box-shadow: 1px 1px 10px #000;
	height: 50px;
	margin: 20px;
}